
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

body {
    background-color: darkslateblue;
    /* margin-left: 300px;
    margin-right: 300px;*/
    overflow: hidden;
    justify-content: center;
}

.header h1 {
    text-align: center;
    color: white;
    font-size: 30px;
    
}

.header img {
    margin: 0;
    margin-left: 500px;
    margin-right: 300px;
    justify-content: center;
}


table {
    width: 100%;
    table-layout: fixed;
    min-width: 800px;
    border-collapse: collapse;
}
.table_section {
    height: 500px; 
    /*overflow: auto;*/ 
    overflow-y: auto;
    margin: 0;
}

.table thead {
    position: sticky;
    top: 0;
    background-color: yellow;
    text-align: center;
}

.table tbody {
    background-color: royalblue;
    text-align: center;
    color: white;
    font-weight: bold;
}

.table tbody tr:hover {
    background-color: #eaeaea;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 20px white;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 20px white;
}

.footer {
    display: flex;
    justify-content: end;
    background-color: yellow;
    padding: 10px;
}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
   /* background-color: rgba(240, 245, 250, 0.8);*/
    background-color: rgb(0, 118, 232, 0.78);
    background-clip: padding-box;
    border: 1 solid rgba(1, 1, 1, 0.175);
    border-radius: 0.5rem;
    /* box-shadow: 0 0.125rem 0.25rem rgba(55, 94, 148, 0.2);*/
    outline: 0;
    box-shadow: 5px 5px 50px white, -5px -5px 20px white;
    -webkit-backdrop-filter: blur(1px);
    backdrop-filter: blur(1px);
}

.modal-header .btn-close {
    cursor: pointer;
}

.modal-header button:focus {
    color: #7b8ab8;
}

.modal-header button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 0px 10px white, -5px -5px 10px white;
}

.modal-footer button {
    position: relative;
    box-shadow: 5px 5px 10px rgba(55, 94, 148, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.4);
    transition: background-color 0.15s ease-in-out, border 0.15s ease-in-out, box-shadow 0.15s ease-in-out, color 0.15s ease-in-out;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    color: black;
    background-color: #d9e3f1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal-footer button:focus {
      color: #7b8ab8;
}

.modal-footer button:hover {
    transform: translateY(-2px);
    box-shadow: 5px 5px 10px rgba(55, 94, 148, 0.2), -5px -5px 10px rgba(255, 255, 255, 0.4);
}

.modal-footer button:active {
    transform: translateY(0);
    box-shadow: inset 2px 3px 6px rgba(0, 0, 0, 0.2), inset -3px -2px 6px rgba(255, 255, 255, 0.2);
}

.btn-secondary:active, .btn-secondary:active:focus {
    color: #fff;
    background-color: #378dfc;
}

.modal-backgroud {
    background-repeat: no-repeat;
    position: fixed;
    left: 200px;
    bottom: 0px;
}

.modal-backgroud img {
   width: 700px;
   height: 700px;
}

#imagePokemon {
    pointer-events: none;
}

.modal-title {
    font-size: 50px;
    font-family: 'Viga', sans-serif;
    color: white;
    text-transform: uppercase;
}

.text-center {
    font-size: 50px;
}

#tab1 {
   color: black;
}

.tab-content h3 {
    color: white;
}